.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(italy.jpg);
    background-size: cover;
    padding: 0px;
    margin-top: 0px;
    height: 900px;
    width: 100%;

}

body {
     font-family: "Italiana", sans-serif;
     background: linear-gradient(lightblue, white)
}

.hero-text {
    font-size: 90px;
    margin-top: 300px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, .7);;
}

.p-text {
    margin-top: 0px;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.mid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;

}

.Colosseum, .rome, .venice {
    /* border: solid 2px black; */
    border-radius: 20px;
    padding: 2px;
}



.cities {
    font-size: 30px;
}

.city-img {
    height: 350px;
    border-radius: 12px;
}

.footer {
    margin-bottom: 100px;
    display: flex;
    justify-content:space-between;
    background-color: rgb(141, 177, 177);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    border-radius: 20px;
    border: solid 2px black;
    padding: 20px 10px;
    
    
}

.img-leo img { /* This selector needed to be the class AND the tag because it wasn't being selected properly */
    padding-right: 20px;
    padding-bottom: 0px;
    border-radius: 750px;


}

#tour {
    text-align: center;
    margin-top: 200px;
}